@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  transition: all 250ms ease-out;
  user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  margin: 0;
  padding: 0;
  background-color: #1D1E22;
  width: 100%;
  height: 100vh;
  color: #eaeaea;
  display: grid;
  place-items: center;
}
body #info {
  border-radius: .5rem;
  width: 30rem;
  height: 5rem;
  font-size: 2.5rem;
  overflow: hidden;
  cursor: pointer;
  background-image: linear-gradient(to right, #dc6999, #0097A7, #d3605b, #69bd71);
  background-size: 400% 400%;
  transition: all 500ms ease-in-out;
  background-position: left;
}
body #info .container {
  position: relative;
  width: 100%;
  height: 5rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 500ms ease-in-out;
  display: grid;
  grid-template-columns: 100% 100%;
}
body #info .container .time, body #info .container .date {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
